<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net461" />
  <package id="ClosedXML" version="0.95.3" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net461" />
  <package id="FirebirdSql.Data.FirebirdClient" version="9.1.1" targetFramework="net48" />
  <package id="iGrid.NET" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0-rc.2.20475.5" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0-rc.2.20475.5" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="Npgsql" version="5.0.0-preview1" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="5.0.0-rc.2.20475.5" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-rc.2.20475.5" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.0-rc.2.20475.5" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.0-rc.2.20475.5" targetFramework="net461" />
  <package id="System.Threading.Channels" version="5.0.0-rc.2.20475.5" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net48" />
</packages>